@model VaabenbogenConsumer.Models.Vaaben

@{
    ViewData["Title"] = "Udskriv";
}

<h1>Udskriv Våben</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Navn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Navn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fabrikant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fabrikant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ladefunktion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ladefunktion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LadefunktionFritekst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LadefunktionFritekst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Systemnummer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Systemnummer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pibenummer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pibenummer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bundstykkenummer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bundstykkenummer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    <hr />
    <div class="row">
        <div class="col-sm-5">
            <form asp-controller="Vaaben" asp-action="Release" method="post">
                @Html.HiddenFor(model => model.Id)
                <label class="">Udskrives til:</label>
                <select data-disable-target="true" id="releaseToDropdown" name="releasedTo" class="form-select" asp-items="@(ViewBag.ReleasedToOptions)"></select>
                <br />
                <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault" name="createNew">
                <label class="form-check-label" for="flexCheckDefault">
                    Eller opret ny?
                </label>
                <partial name="_CreateNewPartial" />
                <br />
                <button type="submit" class="btn btn-primary">Udskriv</button>
                <a class="btn btn-danger float-end" asp-action="Index" asp-controller="Vaaben">Fortryd</a>
            </form>
        </div>
    </div>
</div>