@model VaabenbogenConsumer.Models.Virksomhed

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Virksomhed</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cvr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cvr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Navn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Navn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.By)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.By)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JaegerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JaegerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
